@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@layer utilities {
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    .no-spinner {
        -moz-appearance: textfield;
    }
}
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-orange: #f9611f;
    --color-alpha-orange: hsl(18 95% 55%);
    --color-white: #ffffff;
    --color-light-grey: #7b879d;
    --color-dark-blue: #0e111b;
    --color-card: rgb(23, 26, 38);
    --color-mid-blue: #252837;
}
:root{
    --linear-gradient: linear-gradient(135deg, hsl(18 95% 55%), hsl(340 80% 55%));
     --gradient-hero: linear-gradient(135deg, hsl(18 95% 55%), hsl(340 80% 55%));
     --gradient-button: linear-gradient(100deg, hsl(18 95% 55%), hsl(340 80% 55%));
     --light-grey: rgb(123, 135, 157, 0.15);
     --shadow-glow: 0 0 60px -15px hsl(18 95% 55% / .4);
     --light-blue: rgb(37, 40, 55);
}